<div class="admin-title">
    <h2>Posts</h2>
    <a href="/add-post" class="button">Add New Post</a>
</div>

<ul class="admin-posts">
    <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>" class="post-title">
                <%= post.title %> &nearr;
            </a>
            <div class="admin-post-controls">
                <i><%= post.createdAt.toDateString() %></i>
                <a href="/edit/<%= post._id %>" class="btn">Edit</a>
                <form action="/delete/<%= post._id %>?_method=DELETE" method="post">
                    <input type="submit" value="DELETE" class="btn">
                </form>
            </div>

        </li>
    <% }) %>
</ul>