<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>" >
    <!-- 因为已经指定了static文件夹，所以从public文件夹下开始写就可以了 -->
    <link rel="stylesheet" href="/css/styleForAdmin.css">  
    <script type="text/javascript" defer src="/js/script.js"></script>
    <script type="text/javascript"  src="../../public/js/hideFotter.js"></script>
</head>
<body>
    <div class="container">
        <%- include('../partials/header_admin') %>
        <main class="main">
            <%- body %> 
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>